@mixin click() {
	cursor: pointer;
	transition: $defaultTransitionTime;
	&:active {
		transform: translateY(2px);
	}
}

@mixin dash() {
	position: relative;
	&::after {
		position: absolute;
		left: 0;
		bottom: -3px;
		content: "";
		width: 100%;
		height: 2px;
		background-color: $textColor;
		max-width: 0%;
		transition: $defaultTransitionTime;
	}
	&:hover::after {
		max-width: 100%;
	}
}
